
.fonctionnement{
    counter-reset: numbers;
    &__lists {
        @include flex-column;
        row-gap: 2rem;
        width: 90%;
        @include desktop {
            @include flex-row;
            column-gap: 2rem;
            width: 80%;
        }
    }
    & li {
        width: 90%;
        position: relative;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15); 
        list-style-type: none;
        padding: 1.5rem 0rem;
        border-radius: 15px;
        border: none;
        transition: all 0.3s ease;
        background-color: #f6f6f6;
        font: {
            size: 14px;
            weight: 500;
        }   
        &:hover {
            cursor: pointer;
            transform: scale(1.02);
            background: #fff;
            box-shadow: 0 0 .5rem rgba(0 0 0 / 60%);
        }
        &::before {
            content: counter(numbers);
            counter-increment: numbers;
            color:white;
            background-color: #9356dc;
            width: 2rem;
            height: 2rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            left: -1rem;
            top: 1rem;
        }
    }
    & i {
    margin: 0 1.5rem 0 2rem;
    } 
}

.btn {
    @include flex-center;
    &__content {
        @include btn;
        width: 13rem;
        margin-top: 4rem;
    }
}

.reserve {
    &__btn {
        @include btn;
        margin-top: 1rem;
        width: 14rem;
    }
}