
.back {
    background-color: $color-white;
    margin:0 auto;
    width: 100%;
}
.fonctionnement{
    counter-reset: numbers;
    row-gap: .5rem;
    padding: 48px 0 68px 0;
    width: 100%;
    @include flex-column;
    @include desktop {
        width: 98%;
    }
    &__title {
        width: 90%;
        font: {
            size: 24px;
            style: normal;
            weight: 700;
        }
        @include desktop {
            width: 85%;
        }
    }
    &__lists {
        display:flex;
        flex-direction: column;
        row-gap: 2rem;
        width: 90%;
        @include desktop {
            @include flex-row;
            column-gap: 2rem;
            width: 85%;
        }
    }
    & li {
        @include desktop {
            width: 90%;
        }
        width: 95%;
        position: relative;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15); 
        list-style-type: none;
        padding: 1.5rem 0rem;
        border-radius: 15px;
        border: none;
        transition: all 0.3s ease;
        background-color: $light-grey;
        font: {
            size: 14px;
            weight: 500;
        }   
        &:hover {
            cursor: pointer;
            transform: scale(1.02);
            background: $color-white;
            box-shadow: 0 0 .5rem rgba(0 0 0 / 60%);
        }
        &::before {
            content: counter(numbers);
            counter-increment: numbers;
            color:white;
            background-color: $color-primary;
            width: 2rem;
            height: 2rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            left: -1rem;
            top: 1rem;
        }
    }
    & i {
    margin: 0 1.5rem 0 2rem;
    } 
}

.btn {
    @include flex-center;
    &__content {
        @include btn;
        width: 13rem;
        margin-top: 4rem;
    }
}

.reserve {
    &__btn {
        @include btn;
        margin-top: 1rem;
        width: 14rem;
    }
}