.btn {
    @include flex-center;
    &__content {
        @include btn;
        width: 13rem;
        margin-top: 4rem;
    }
}

.reserve {
    &__btn {
        @include btn;
        margin-top: 1rem;
        width: 14rem;
    }
}