@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@mixin img {
    width: 100%;
}

body {
    margin: 0 auto;
    padding: 0;
    background-color: #f6f6f6;
    @media screen {max-width: 1400px};
    & > img {
        @include img;
        height:400px;
        object-fit: cover;
    }
    & > .main-around {
        border-radius: 40px 40px 0 0;
        position: relative;
        top: -86px;
        background-color: #f6f6f6;
        margin-bottom: 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

h3, p {
    margin:0;
}
