@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@mixin img {
    width: 100%;
    
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #f6f6f6;
    & > img {
        @include img;
    }
    & > .main-around {
        border-radius: 40px 40px 0 0;
        position: relative;
        top: -56px;
        background-color: #f6f6f6;
        margin-bottom: 0;
    }
}

