.search {
    @include flex-row;
    justify-content: center;
    background-color: $grey;
    height: 70px;
    column-gap: 17px;;
    &__icon {
        width: 12px;
        height: 16px;
    }
    &__location {
        font: {
            size: 14px;
            weight: 500;
        }
    }
}

.reserve {
    text-align: center;
    padding: 2.4rem 0;
    background-color: $light-grey;
    &__title {
        font: {
            size: 24px;
            weight: 700;
        }
    }
    &__text {
        font: {
            size: 18px;
            weight: 300;
        }
    }   
}
.fonctionnement{
    counter-reset: numbers;
    margin: 0 auto;
    width:90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    @include desktop {
        width: 85%;
    }
    &__title {
        font: {
            size: 24px;
            style: normal;
            weight: 700;
        }
    }
    &__lists {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 2rem;
        padding-left: 1.1rem;
        @include desktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            column-gap: 2rem;
        }
    }
    & li {
        position: relative;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15); 
        list-style-type: none;
        padding: 1.5rem 0rem;
        border-radius: 15px;
        border: none;
        transition: all 0.3s ease;
        background-color: $light-grey;
        font: {
            size: 14px;
            weight: 500;
        }   
        &:hover {
            cursor: pointer;
            transform: scale(1.02);
            background: #f5edff;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
        }
        &:hover i {
            color: $color-primary;
        }
        &::before {
            content: counter(numbers);
            counter-increment: numbers;
            color:white;
            background-color: $color-primary;
            width: 2rem;
            height: 2rem;
            display: grid;
            place-items: center;
            border-radius: 50%;
            position: absolute;
            left: -1.1rem;
            top: 1rem;
        }
    }
    & i {
    margin: 0 1.5rem 0 2rem;
    } 
}

.back {
    background: $light-grey ;
}

.restaurants {
    width: 90%;
    padding: 2rem 0 10rem 0;
    margin: 0 auto;
    @include desktop {
        width: 85%;
    }
    &__cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        row-gap: 1rem;
        width: 100%;
        @include tablet {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            column-gap: 1rem;
        }
        @include desktop { 
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 1rem;    
            width: 100%;
        }
        
    }
    &__title {
        width: 100%;
        padding-bottom: 1rem;
    }
}
.card {
    background-color: $color-white;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 200ms;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
    position: relative;
    &:hover {
        transform:scale(1.02)
    }
    &__img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        object-position: center;
        border-radius: 15px 15px 0 0;
        display: block
    }
    &__new {
        @include flex-center;
        background: $color-tertiary;
        border-radius: 4px;
        color: darken($color-tertiary, 40%);
        font: {
            weight: 500;
            size: 14px;
        }
        padding: 0.2rem;
        width: 80px;
        height: 29px;
        position: absolute;
        right: 0.75rem;
        top: 1rem;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    }   
    &__text-icon {
        @include flex-row;
        justify-content: space-between;
        padding-right: 1rem;
        
    }
    &__indication {
        margin-left: 10px;
        & h3 {
            font-size: 18px;
            font-weight: 700;
        }
        & p {
            font-size: 17px;
            font-weight: 300;
        }
    }         
    &__name-restaurant {
        margin: {
            top: 16px;
            bottom: 0px;
        }
    }
    &__place-restaurant {
        margin-top: 5px;  
    }
}