
body {
    & img {
        @include img;
        height:450px;
        object-fit: cover;
    }
    & .main-around {
        border-radius: 40px 40px 0 0;
        position: relative;
        top: -86px;
        background-color: $light-grey;
        padding-bottom: 70px;
        @media  screen and (min-width: 1023px) {          
            position: relative;
            top: -70px;
            margin: 0 15%;
            padding-left:10%;
            padding-right: 10%;
        }
    }
}


.restaurant {
    padding: 20px 7% 0 5%;
    border-radius: 40px 40px 0px 0px;
    position: relative;  
    @include flex-row;
    justify-content: space-between;
    @include  desktop {
        @include flex-center;
        column-gap: 1.5rem;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    padding: 10px 5%;
    row-gap: 20px;
    width: 90%;
    &__title {
        margin: 0;
        font-size: 16px;
        font-weight: 300;
        border-bottom: 3px solid $color-tertiary;
        width: 2.4rem;
        line-height: 30px;
        text-transform: uppercase;
    }
}

.plate {
    display: flex;
    justify-content: space-between;
    border: none;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin: auto;
    background: $color-white;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    animation: appear 1s;
    animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
    animation-fill-mode: both;
    &:hover &__icon-price {
        margin-right: 0;
    }
    &:hover i {
        animation: rotate-check .6s ease;
    }
    &__content {
        white-space: nowrap;
        overflow: hidden;
        &--margin {
            margin:.6rem;
        }
    }
    &__icon-price {
        display: flex;
        justify-content: space-between;
        align-items: end;
        margin-right: -4rem;
        column-gap: 1rem;
        transition: all .6s;
        & p {
            margin: .6rem;
        }
    }
    .menuitems {
        @include flex-center;
        background: $color-tertiary;
        width: 60px;
        height: 70px;
        border-radius: 0 15px 15px 0;
        margin: 0;
        & i {
            background: $color-white;
            color: $color-tertiary; 
            border-radius: 50%;
            padding:6%;
            font-size: 1rem;
        }
    } 
}