.content{
    position: absolute;
    top: 80%; left: 90%;
    transform: translate(-50%, -50%);
    & .fa-heart{
        font-size: 2rem;
        margin-right: 1rem;
    }
    & .heart{
        position:relative;
        z-index:1;
        cursor: pointer;
        -webkit-text-stroke: 1px $color-white;
    }
    & .heart-color{
        position:absolute;
        left:0;
        top:0px;
        z-index:-1;
        background: linear-gradient(#FF79DA, #9356DC);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity:0;
        transform: scale(0);
        transition:.3s ease;
    }
    & .heart:hover .heart-color{
        transform:scale(1);
        opacity:1;
    }
    & .heart:hover{
        background: linear-gradient(#FF79DA, #9356DC);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0px $color-white;
    }   
}

@keyframes rotate-check {
    from {
        transform: rotate(-270deg);
    }
    to {
        transform: rotate(0);
    }
}


.loader {
        height: 100%;
        background: white;
        margin: auto;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        -webkit-animation: spinner 2s linear;
        animation: spinner 2s linear;
        visibility: hidden;   
    &__border {
        display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 10px solid transparent;
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #FF79DA;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-animation: spinner-border 2s linear;
    animation: spinner-border 2s linear;
    z-index: 10;
    visibility: hidden;
    }
    &__center {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: transparent 10px solid;
        border-top: 10px solid #9356DC;
        border-bottom: 10px solid #FF79DA;
        opacity: .5;
    }
}



@keyframes spinner {
    0% {
        visibility: visible;
        opacity: 0.9;
    }
    70% {
        opacity: 0.9;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes spinner-border {
    0% {
        visibility: visible;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        opacity: 0;
        visibility: hidden;
    }
}
