@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

@mixin flex-column {
display: flex;
flex-direction: column;
align-items: center;

}
@mixin btn{
    border: none;
    padding: 1.1rem 0rem;
    font: {
        size: 16px;
        weight: 500;
    }
    border-radius: 10rem;
    color: $color-white;
    cursor: pointer;
    transition: transform .2s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: linear-gradient(355deg, $color-primary 5%, $color-secondary 100%);
    &:hover {
        opacity: 0.9;
        transform: scale(1.02);
    }
}

@mixin desktop {
    @media screen and (min-width: 1023px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 767px) {
        @content;
    }
}

@mixin img {
    width: 100%;
}