@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-row {
    display: flex;
    align-items: center;
    flex-direction: row;
}

@mixin flex-column {
display: flex;
flex-direction: column;
align-items: center;

}
@mixin btn{
    border: none;
    padding: 1.1rem 0rem;
    font: {
        size: 16px;
        weight: 500;
    }
    border-radius: 10rem;
    color: #fff;
    cursor: pointer;
    transition: transform .2s ease;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
    background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    &:hover {
        opacity: 0.9;
        transform: scale(1.02);
    }
}

@mixin desktop {
    @media (min-width: 1023px) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: 767px) {
        @content;
    }
}

@mixin gradient {
    background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
}